@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="welcome-to-our-container">
        <p><i>The blood bank management system is a web-based system designed to cater to and manage blood bag availability in the blood bank. This will oversee incoming, stored, and dispensed red blood bags of different types. Moreover, this will also allow report generation for inventory and record-checking purposes.</i></p>
    </div>
    <img class="eye-dropper0000-1-icon" alt="" src="~/Assets/eyedrop.png">
    <div class="managing-lifes-precious-container">
        ABOUT IT
    </div>
</div>

<style>
    .welcome-to-our-container {
    position: absolute;
    top: 320px;
    left: 220px;
    font-size: 21px;
    width: 676px;
    margin: 0;
    font-weight: 200;
    text-align: justify;
}

.managing-lifes-precious-container {
    position: absolute;
    top: 170px;
    left: 210px;
    font-size: 100px;
    text-align: left;
    display: flex;
    width: 782px;
    height: 246px;
    letter-spacing: 0.5px;
    word-spacing: 1.15px;
    font-weight: 800;
    font-family: Montserrat;
}

.eye-dropper0000-1-icon {
    position: absolute;
    top: 170px;
    left: 870px;
    width: 465px;
    height: 465px;
    object-fit: cover;
}

</style>
