/*@media screen and (min-width:728px) {
    .welcome-to-our-container {
        top: 48%;
        left: 17%;
        font-size: 1.6vw;
    }

    .managing-lifes-precious-container {
        top: 25%;
        left: 16.9%;
        font-size: 8vw;
    }

    .eye-dropper0000-1-icon {
        top: 25%;
        left: 65%;
    }
}
*/