@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="welcome-to-our-container">
            <span class="welcome-to-our-container1">
                <p class="welcome-to-our">Welcome to our Blood Bank Management System.</p>
                <p class="welcome-to-our">Login or Register to start.</p>
            </span>
        </div>
        <img class="eye-dropper0000-1-icon" alt="" src="~/Assets/eyedrop.png">

        <div class="managing-lifes-precious-container">
            <span class="welcome-to-our-container1">
                <p class="welcome-to-our">
                    <i>Managing Life's</i>
                </p>
                <p class="welcome-to-our">
                    <i>Precious</i>
                    <i class="i"> </i>
                    <i class="resource">Resource,</i>
                </p>
                <p class="welcome-to-our">
                    <i class="one">One</i>
                    <i class="i"> </i>
                    <i class="resource">Drop </i>
                    <i>at a Time.</i>
                </p>
            </span>
        </div>
    </div>
<style>
    .welcome-to-our {
        margin: 0;
    }

    .welcome-to-our-container1 {
        width: 100%;
    }

    .welcome-to-our-container {
        position: absolute;
        top: 450px;
        left: 150px;
        font-size: 21px;
        display: flex;
        align-items: center;
        width: 676px;
        height: 48px;
    }

    .eye-dropper0000-1-icon {
        position: absolute;
        top: 150px;
        left: 886px;
        width: 465px;
        height: 465px;
        object-fit: cover;
    }

    .i {
        font-weight: 800;
        font-family: Montserrat;
    }

    .resource {
        font-weight: 600;
        font-family: Montserrat;
    }

    .one {
        font-family: Montserrat;
    }

    .managing-lifes-precious-container {
        position: absolute;
        top: 150px;
        left: 154px;
        font-size: 64px;
        text-align: left;
        display: flex;
        align-items: center;
        width: 782px;
        height: 246px;
    }
</style>