@* @{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@* <div class="container">
    <h2>Select Login</h2>
    <div class="login-buttons">
        <a type="submit" class="btn btn-primary" asp-controller="Admin" asp-action="Login">Admin Login</a>
        <a type="submit" class="btn btn-secondary" asp-controller="Donor" asp-action="Login">Donor Login</a>
        <a type="submit" class="btn btn-success" asp-controller="Physician" asp-action="Login">Physician Login</a>
    </div>
</div> *@
<div class="login-main">
    <div class="select-your-account">Select your account type to log in.</div>
    <b class="welcome-user">Welcome, User!</b>

    <div class="login-donor-box">
    </div>
    <div class="donor">
        <a type="submit" class="btn Donor" asp-controller="Donor" asp-action="Login">DONOR</a>
    </div>

    <div class="login-physician-box">
    </div>
    <div class="physician">
        <a type="submit" class="btn Physician" asp-controller="Physician" asp-action="Login">PHYSICIAN</a>
    </div>

    <div class="login-admin-box">
    </div>
    <div class="admin">
        <a type="submit" class="btn Admin" asp-controller="Admin" asp-action="Login">ADMIN</a>
    </div>
    <div class="button">
        <div class="view-report">
            <a class="btn Back" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
        </div>
    </div>
    <img class="rectangle-icon" alt="" src="~/Assets/pic.png">
</div>

<style>
.select-your-account {
    position: absolute;
    top: 100px;
    left: 48px;
    font-size: 35px;
    text-align: justify;
    display: flex;
    align-items: center;
    width: 676px;
    height: 48px;
}

.welcome-user {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 1000px;
    height: 80px;
}

.login-donor-box {
    position: absolute;
    top: 150px;
    left: 100px%;
    border-radius: 11px;
    background-color: #ffa1af;
    width: 200px;
    height: 70px;
}

.donor {
    position: absolute;
    top: 170px;
    left: 40px;
    display: flex;
    color: #000;
}

    .donor a.btn.Donor {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 24px;
        text-decoration: none;
        color: inherit;
        position: inherit;
    }

.login-physician-box {
    position: absolute;
    top: 56%;
    left: 27%;
    border-radius: 11px;
    background-color: #ffa1af;
    width: 400px;
    height: 100px;
}

.physician {
    position: absolute;
    top: 57.2%;
    left: 29.7%;
    display: flex;
    color: #000;
}

    .physician a.btn.Physician {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-decoration: none;
        color: inherit;
        position: inherit;
    }

.login-admin-box {
    position: absolute;
    top: 72%;
    left: 27%;
    border-radius: 11px;
    background-color: #ffa1af;
    width: 400px;
    height: 100px;
}

.admin {
    position: absolute;
    top: 73%;
    left: 31.9%;
    display: flex;
    color: #000;
}

    .admin a.btn.Admin {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-decoration: none;
        color: inherit;
        position: inherit;
    }

.view-report {
    letter-spacing: 0.5px;
    line-height: 20px;
    mix-blend-mode: normal;
    position: absolute;
    top: 90%;
    left: 32%;
    box-shadow: 0px 2px 1px rgba(64, 72, 82, 0.05);
    border-radius: 5px;
    background-color: #fbfc;
    border: 0.5px solid #dde4f0;
    border-color: gray;
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    display: flex;
    padding: 6px 21px;
    font-size: 16px;
    align-content: center;
}

    .view-report a.btn.Back {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        font-weight: 550;
        left: 22%;
        top: 0.3%;
        text-decoration: none;
        color: darkred;
        position: inherit;
    }

.rectangle-icon {
    position: absolute;
    top: 0.1%;
    left: 65%;
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.login-main {
    width: 100%;
    position: relative;
    background-color: #ebebeb;
    height: 600px;
    display: flex;
    overflow: hidden;
    text-align: center;
    font-size: 28px;
    color: #000;
    font-family: Montserrat;
}
</style>