@{
   ViewData["Title"] = "Register";
   Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <h2>Select Register</h2>
    <div class="register-buttons">
        <a type="submit" class="btn btn-secondary" asp-controller="Donor" asp-action="Create">Donor Registration</a>
        <a type="submit" class="btn btn-success" asp-controller="Physician" asp-action="Create">Physician Registration</a>
    </div>
</div>
