@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="register-main">
    <div class="left-column">
        <h1 class="welcome-user">Welcome, User!</h1>
        <p class="select-your-account">Select your account type to create.</p>

        <div class="register-box">
            <a asp-controller="Donor" asp-action="Create" class="register-btn btn Donor">Donor</a>
        </div>

        <div class="register-box">
            <a asp-controller="Physician" asp-action="Create" class="register-btn btn Physician">Physician</a>
        </div>

        <div class="view-report">
            <a asp-controller="Home" asp-action="Index" class="btn Back">Back</a>
        </div>
    </div>

    <div class="right-column">
        <img src="~/Assets/pic.png" alt="Rectangle Icon" class="rectangle-icon">
    </div>
</div>


<style>
    .register-main {
        width: 100%;
        height: 90vh;
        display: flex;
        background-color: #ebebeb;
        font-family: Montserrat;
        overflow: hidden;
        border-radius: 50px;
        box-sizing: border-box;
    }

    .left-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .right-column {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
    }

    .welcome-user {
        font-size: 48px;
        text-align: center;
        margin-bottom: 20px;
    }

    .select-your-account {
        font-size: 16px;
        text-align: center;
        margin-bottom: 40px;
    }

    .register-box {
        width: 150px;
        height: 60px;
        background-color: #ffa1af;
        border-radius: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

        .register-box:hover {
            transform: translateY(-2px); /* Slight lift effect on hover */
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
        }

    .register-btn {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        color: #000;
        padding: 10px 20px;
    }

    .view-report {
        margin-top: 20px;
    }

        .view-report a.btn.Back {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 550;
            text-decoration: none;
            color: darkred;
        }

    .rectangle-icon {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

</style>