@model BBMS.Models.BloodRequest

@{
    ViewData["Title"] = "Edit Details";
    Layout = "~/Views/Shared/_LayoutPhysician.cshtml";
}

<div class="container-xl px-4 mt-4">
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">Update Details</div>
            <div class="card-body">
                <form asp-action="UpdateDetails">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label asp-for="PatientName" class="small mb-1"></label>
                            <input asp-for="PatientName" class="form-control" type="text" />
                            <span asp-validation-for="PatientName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="PatientAge" class="small mb-1"></label>
                            <input asp-for="PatientAge" class="form-control" type="number" />
                            <span asp-validation-for="PatientAge" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="RequestInfo" class="small mb-1"></label>
                        <input asp-for="RequestInfo" class="form-control"  />
                        <span asp-validation-for="RequestInfo" class="text-danger"></span>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label asp-for="PatientHospital" class="small mb-1"></label>
                            <input asp-for="PatientHospital" class="form-control" type="text" />
                            <span asp-validation-for="PatientHospital" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="BloodType" class="small mb-1">Blood Type:</label>
                            <input asp-for="BloodType" class="form-control" />
                            <span asp-validation-for="BloodType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label asp-for="UnitNo" class="small mb-1">Unit No (in ml)</label>
                            <input asp-for="UnitNo" class="form-control" type="number" />
                            <span asp-validation-for="UnitNo" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="RequestDate" class="small mb-1"></label>
                            <input asp-for="RequestDate" class="form-control" type="date" />
                            <span asp-validation-for="RequestDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Status" class="form-control" type="hidden" />
                    </div>
                    <div class="mb-3">
                        <input asp-for="PhysicianId" class="form-control" type="hidden" />
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    body {
        margin-top: 20px;
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>
